.btn {
  padding: 10px 8px;
  width: 50px;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 20px;
}

.btn:hover {
  background-color: #b4b4b4;
}

.btn2 {
  padding: 10px 8px;
  width: 50px;;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.btn2:hover {
  background-color: #878787;
}

